@page
@model Delamain_backend.Pages.Account.ForgotPasswordModel
@{
}
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="email"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="email" class="form-control" placeholder="Enter your email" />
            </div>
            <span class="text-danger" asp-validation-for="email"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <button class="btn btn-primary" name="loginbutton" type="submit" value="Request">Send</button>
            </div>
        </div>
    </form>
    <a class="btn btn-link" asp-page="/Account/Login">Login</a>
</div>
