@page
@model Delamain_backend.Pages.Account.RegistererrorModel
@{
}
<h1> Sorry </h1>
<h2> There was an error when registering the account. </h2>
<a class="btn btn-link" asp-page="/Account/Login">To Login</a>
