@page
@model Delamain_backend.Pages.Account.ResetPasswordModel
@{
}
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="reset.Token"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="reset.Token" class="form-control" placeholder="Enter your Token that was sent" />
            </div>
            <span class="text-danger" asp-validation-for="reset.Token"></span>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="reset.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="reset.Password" class="form-control" placeholder="Enter your Password" />
            </div>
            <span class="text-danger" asp-validation-for="reset.Password"></span>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <label asp-for="reset.ConfirmPassword"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="reset.ConfirmPassword" class="form-control" placeholder="Confirm your Password" />
            </div>
            <span class="text-danger" asp-validation-for="reset.ConfirmPassword"></span>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <button class="btn btn-primary" name="loginbutton" type="submit" value="Login">Change Password</button>
            </div>
        </div>
    </form>
    <a class="btn btn-link" asp-page="/Account/Login">Login</a>
    <a class="btn btn-link" asp-page="/Account/ForgotPassword">Didn't receive email? Try again</a>
</div>
